// Primary Colours
$primaryRed: hsl(0, 78%, 62%);
$primaryCyan: hsl(180, 62%, 55%);
$primaryOrange: hsl(34, 97%, 64%);
$primaryBlue: hsl(212, 86%, 64%);

// Neutral Colours
$neutralVeryDarkBlue: hsl(234, 12%, 34%);
$neutralGrayishBlue: hsl(229, 6%, 66%);
$neutralVeryLightGray: hsl(0, 0%, 98%);

// Fonts sizes into rems
$font_1px: 0.0625rem;
$font_2px: 0.125rem;
$font_3px: 0.1875rem;
$font_4px: 0.25rem;
$font_5px: 0.3125rem;
$font_6px: 0.375rem;
$font_7px: 0.4375rem;
$font_8px: 0.5rem;
$font_9px: 0.5625rem;
$font_10px: 0.625rem;
$font_11px: 0.6875rem;
$font_12px: 0.75rem;
$font_13px: 0.8125rem;
$font_14px: 0.875rem;
$font_15px: 0.9375rem;
$font_16px: 1rem;
$font_17px: 1.0625rem;
$font_18px: 1.125rem;
$font_19px: 1.1875rem;
$font_20px: 1.25rem;
$font_21px: 1.3125rem;
$font_22px: 1.375rem;
$font_23px: 1.4375rem;
$font_24px: 1.5rem;
$font_25px: 1.5625rem;
$font_26px: 1.625rem;
$font_27px: 1.6875rem;
$font_28px: 1.75rem;
$font_29px: 1.8125rem;
$font_30px: 1.875rem;
$font_31px: 1.9375rem;
$font_32px: 2rem;
$font_33px: 2.0625rem;
$font_34px: 2.125rem;
$font_35px: 2.1875rem;
$font_36px: 2.25rem;
$font_37px: 2.3125rem;
$font_38px: 2.375rem;
$font_39px: 2.4375rem;
$font_40px: 2.5rem;
$font_41px: 2.5625rem;
$font_42px: 2.625rem;
$font_43px: 2.6875rem;
$font_44px: 2.75rem;
$font_45px: 2.8125rem;
$font_46px: 2.875rem;
$font_47px: 2.9375rem;
$font_48px: 3rem;
$font_49px: 3.0625rem;
$font_50px: 3.125rem;
$font_51px: 3.1875rem;
$font_52px: 3.25rem;
$font_53px: 3.3125rem;
$font_54px: 3.375rem;
$font_55px: 3.4375rem;
$font_56px: 3.5rem;
$font_57px: 3.5625rem;
$font_58px: 3.625rem;
$font_59px: 3.6875rem;
$font_60px: 3.75rem;
$font_61px: 3.8125rem;
$font_62px: 3.875rem;
$font_63px: 3.9375rem;
$font_64px: 4rem;
$font_65px: 4.0625rem;
$font_66px: 4.125rem;
$font_67px: 4.1875rem;
$font_68px: 4.25rem;
$font_69px: 4.3125rem;
$font_70px: 4.375rem;
$font_71px: 4.4375rem;
$font_72px: 4.5rem;
$font_73px: 4.5625rem;
$font_74px: 4.625rem;
$font_75px: 4.6875rem;
$font_76px: 4.75rem;
$font_77px: 4.8125rem;
$font_78px: 4.875rem;
$font_79px: 4.9375rem;
$font_80px: 5rem;
$font_81px: 5.0625rem;
$font_82px: 5.125rem;
$font_83px: 5.1875rem;
$font_84px: 5.25rem;
$font_85px: 5.3125rem;
$font_86px: 5.375rem;
$font_87px: 5.4375rem;
$font_88px: 5.5rem;
$font_89px: 5.5625rem;
$font_90px: 5.625rem;
$font_91px: 5.6875rem;
$font_92px: 5.75rem;
$font_93px: 5.8125rem;
$font_94px: 5.875rem;
$font_95px: 5.9375rem;
$font_96px: 6rem;
$font_97px: 6.0625rem;
$font_98px: 6.125rem;
$font_99px: 6.1875rem;
$font_100px: 6.25rem;
$font_110px: 6.875rem;
$font_120px: 7.5rem;
$font_130px: 8.125rem;
$font_140px: 8.75rem;
$font_150px: 9.375rem;
$font_160px: 10rem;
$font_170px: 10.625rem;
$font_180px: 11.25rem;
$font_190px: 11.875rem;
$font_200px: 12.5rem;
$font_210px: 13.125rem;
$font_220px: 13.75rem;
$font_225px: 14.0625rem;
$font_230px: 14.375rem;
$font_240px: 15rem;
$font_250px: 15.625rem;
$font_260px: 16.25rem;
$font_270px: 16.875rem;
$font_280px: 17.5rem;
$font_290px: 18.125rem;
$font_300px: 18.75rem;
$font_310px: 19.375rem;
$font_350px: 21.875rem;
$font_375px: 23.4375rem;
$font_400px: 25rem;
$font_450px: 28.125rem;
$font_500px: 31.25rem;
$font_520px: 32.5rem;
$font_550px: 34.375rem;
$font_600px: 37.5rem;
$font_650px: 40.625rem;
$font_700px: 43.75rem;
$font_750px: 46.875rem;
$font_800px: 50rem;
$font_850px: 53.125rem;
$font_900px: 56.25rem;
$font_950px: 59.375rem;
$font_1000px: 62.5rem;
$font_1024px: 64rem;
$font_1440px: 90rem;
